<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }} &#9654; {{ page.title }}</title>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
extensions: ["tex2jax.js"],
jax: ["input/TeX", "output/HTML-CSS"],
tex2jax: {
inlineMath: [ ['$','$'], ["\\(","\\)"] ],
displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
processEscapes: true
},
"HTML-CSS": { availableFonts: ["TeX"] }
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">