.paper-container{
  display:block;
}

.paperTitleContainer{
}

.paper {
  display: block;
  margin: 20px 0px;
}

.paper:hover {
  opacity: 0.5;
}

.paper .title {
  font-size:1em;
  font-weight: 500;
}

.paper .authors {
  line-height: 1em;
  font-size: 0.9em;
  padding: 10px 0px;
}

.paperSeparator{
  width: 100%;
  height: 0.5px;
  margin: 10px 0px;
  background: #ffffff;
}
