<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <!-- .container is main centered wrapper -->
        <div class="sidebar">
            <div class="container">

                <header>
                I'm <b>Michael Catchen</b>, scientific programmer and data-scientist.

                <!--<p>At the moment, I use </p>-->
                </header>
            </div>
        </div>
        <main class="container"><a id="pagetop"></a>
            {{ content }}
        </main>
    </body>
</html>
